<div>
  <h3>Banned ip</h3>
  <div class="pagination">
      <ul>
          <li ng-repeat="n in size" id={{n}}><a ng-click="toPage(n,$index)">{{n}}</a></li>
      </ul>
  </div>
  <table class="table tablesorter">
    <thead>
      <tr>
        <th class="span1">#</th>
        <th class="span1"><a id="ip" ng-click="sortBy('ip', reverse) ; reverse=!reverse"><span class="pull-left"></span>ip</a></th>
        <th class="span2"><a id="rule" ng-click="sortBy('rule', reverse) ; reverse=!reverse"><span class="pull-left"></span>rules</a></th>
        <th class="span1"><a id="count" ng-click="sortBy('count', reverse) ; reverse=!reverse"><span class="pull-left"></span>count</a></th>
        <th class="span1"><a id="time" ng-click="sortBy('time', reverse) ; reverse=!reverse"><span class="pull-left"></span>time</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ban in banned">
        <td>
          <a class="icon-search" href="#/banned/{{ban.ip}}"></a>
        </td>
        <td>{{ban.ip}}</td>
        <td>{{ban.rules}}</td>
        <td>{{ban.count}}</td>
        <td>{{showDate(ban.time)}}</td>
      </tr>
    </tbody>
  </table>
</div>
