<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>rules for ban</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="banrule in banrules">
        <td>
          <a class="icon icon-colour icon-remove" ng-click="removeBanRule(banrule)"></a>
        </td>
        <td>{{banrule.banName}}</td>
        <td>{{banrule.rules}}</td>
      </tr>
    </tbody>
  </table>
  <div id="addBanRule" class="addBanRule">
    <legend>Add rules for ban.</legend>
    <form name="addban" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputName">Name:</label>
        <div class="controls">
          <input type="text" id="inputName" ng-model="addban.name" required placeholder="Ban name.">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputRules">Rule name:</label>
        <div class="controls">
          <select ng-options="rule.name for rule in rules" id="inputRules" ng-model="addban.cp"
          placeholder="select rule."></select>
          <span>
            <a class="icon-plus" ng-click="addRuleToForm(addban.cp)"></a>
          </span>
          <ul class="unstyled">
            <li ng-repeat="x in addban.rules" class="text-error">
              <a class="icon-minus" ng-click="removeBanCart(x)"></a>{{x}}</li>
          </ul>
        </div>
      </div>
      <div class="controls">
        <button class="btn btn-primary" ng-click="addBanRule(addban)">Add</button>
      </div>
    </form>
  </div>
</div>
