<!DOCTYPE html>
<html lang="ru" ng-app="antibot">
  
  <head>
    <meta charset="utf-8">
    <title>antibot</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <style>
      body {
              padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
           }
    </style>
    <link rel="stylesheet" href="../css/bootstrap-responsive.css">
    <link rel="stylesheet" href="../css/app.css">
    <script src="../lib/jquery-1.8.2.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-bootstrap.min.js"></script>
    <script src="../js/app.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Antibot</a>
          <ul class="nav">
            <li id="banned" class="menu">
              <a href="#/home">Banned</a>
            </li>
            <li id="rules" class="menu">
              <a href="#/rules">Rules</a>
            </li>
            <li id="banrules" class="menu">
              <a href="#/banrules">BanRules</a>
            </li>
            <li id="whitelist" class="menu">
              <a href="#/whitelist">WhiteList</a>
            </li>
            <li id="status" class="menu">
              <a href="#/status">Status</a>
            </li>
          </ul>
          <form class="navbar-search pull-right" action="#/banned/{{ip}}">
            <input ng-model="ip" type="text" class="search-query" placeholder="Ip here">
          </form>
        </div>
      </div>
    </div>
    <div ng-view class="container"></div>
  </body>

</html>
