<div>
  <div>IP address: {{info.ip.ip}}</div>
  <div>Banned: {{info.banned}}</div>
  <div>Count: {{info.count}}</div>
  <div>Banned time: {{showDate(info.bannedTime)}}</div>
  <div>Rules:</div>
  <ul>
    <li ng-repeat="rule in info.rules">{{rule.type}}.{{rule.name}}</li>
  </ul>
  <div>Requests:</div>
  <table class="table">
    <thead>
      <tr>
        <th class="span1">status</th>
        <th class="span6">request</th>
        <th class="span1">time</th>
        <th class="span2">agent</th>
        <th class="span2">refer</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="request in info.requests">
            <td>{{request.status}}</td>
            <td>{{request.request}}</td>
            <td>{{showDate(request.time)}}</td>
            <td>{{request.agent}}</td>
            <td>{{request.refer}}</td>
        </tr>
    </tbody>
  </table>
</div>
