<div>
  <table class="table">
    <thead>
      <tr>
        <th class="span1">#</th>
        <th>name</th>
        <th>url for js script</th>
        <th>count url</th>
        <th>max request without js</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rule in rules | filter: jstype">
        <td>
          <a class="icon-remove" ng-click="removeRule(rule)"></a>
        </td>
        <td>{{rule.name}}</td>
        <td>
          <ul class="unstyled">
            <li ng-repeat="x in rule.path">{{x}}</li>
          </ul>
        </td>
        <td>
          <ul class="unstyled">
            <li ng-repeat="x in rule.countPath">{{x}}</li>
          </ul>
        </td>
        <td>{{rule.maxReqWithoutJs}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<div>
  <table class="table">
    <thead>
      <tr>
        <th class="span1">#</th>
        <th>name</th>
        <th>count url</th>
        <th>count by period</th>
        <th>period</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rule in rules | filter: periodtype">
        <td>
          <a class="icon icon-colour icon-remove" ng-click="removeRule(rule)"></a>
        </td>
        <td>{{rule.name}}</td>
        <td>
          <ul class="unstyled">
            <li ng-repeat="x in rule.countPath">{{x}}</li>
          </ul>
        </td>
        <td>{{rule.countByPeriod}}</td>
        <td>{{rule.period}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<div>
  <table class="table">
    <thead>
      <tr>
        <th class="span1">#</th>
        <th>name</th>
        <th>regexp</th>
        <th>url with query</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rule in rules | filter: regexptype">
        <td>
          <a class="icon icon-colour icon-remove" ng-click="removeRule(rule)"></a>
        </td>
        <td>{{rule.name}}</td>
        <td>{{rule.regexp}}</td>
        <td>
          <ul class="unstyled">
            <li ng-repeat="f in rule.urlQuery">
              <div>url: {{f.url}} query: {{f.query}}</div>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<select ng-model="ruleType" ng-change="selectTypeRule()">
  <option value="js">Add Js rule</option>
  <option value="period">Add Period rule</option>
  <option value="regexp">Add Regexp rule</option>
</select>
<hr>
<div id="jsform" class="hidden addRule">
  <legend>Add javascript rule.</legend>
  <form name="addjs" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="jsname">Name:</label>
      <div class="controls">
        <input type="text" id="jsname" ng-model="addjs.name" required placeholder="Rule name.">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="jspath">Url for js script:</label>
      <div class="controls">
        <input type="text" id="jspath" ng-model="addjs.p" placeholder="path here.">
        <span>
          <a class="icon-plus" ng-click="addPath(addjs.p)"></a>
        </span>
        <ul class="unstyled">
          <li ng-repeat="x in addjs.path" class="text-error"><a class="icon-minus" ng-click="removeJsCart(x)"></a>{{x}}</li>
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="jsCountPath">Count url:</label>
      <div class="controls">
        <input type="text" id="jsCountPath" ng-model="addjs.cp" placeholder="count path here.">
        <span>
          <a class="icon-plus" ng-click="addCountPath(addjs.cp)"></a>
        </span>
        <ul class="unstyled">
          <li ng-repeat="x in addjs.countpath" class="text-error"><a class="icon-minus" ng-click="removeJsCart1(x)"></a>{{x}}</li>
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="jsMaxReqWithoutJs">Max request whithout js:</label>
      <div class="controls">
        <input type="number" id="jsMaxReqWithoutJs" ng-model="addjs.maxReq" required placeholder="max requests.">
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-primary" ng-click="addJsRule(addjs)">Add</button>
    </div>
  </form>
</div>
<div id="regexpform" class="hidden addRule">
  <legend>Add regexp rule.</legend>
  <form name="addregexp" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="regexpname">Name:</label>
      <div class="controls">
        <input type="text" id="regexpname" ng-model="addregexp.name" required placeholder="Rule name.">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="regexppath">Url with query:</label>
      <div class="controls">
        <input type="text" id="regexppath" ng-model="addregexp.path" placeholder="url.">
        <input type="text" id="regexppath1" ng-model="addregexp.query" placeholder="query.">
        <span>
          <a class="icon-plus" ng-click="addUrlQuery(addregexp.path, addregexp.query)"></a>
        </span>
        <ul class="unstyled">
          <li ng-repeat="x in addregexp.urlquery" class="text-error">
            <a class="icon-minus" ng-click="removeRegexpCart(x.url, x.query)"></a>{{" Url: " + x.url + " with query: " + x.query}}</li>
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="regexpRegexp">Regexp:</label>
      <div class="controls">
        <input type="text" id="regexpRegexp" ng-model="addregexp.regexp" required placeholder="regexp here.">
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-primary" ng-click="addRegexpRule(addregexp)">Add</button>
    </div>
  </form>
</div>
<div id="periodform" class="hidden addRule">
  <legend>Add period rule.</legend>
  <form name="addperiod" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="periodname">Name:</label>
      <div class="controls">
        <input type="text" id="periodname" ng-model="addperiod.name" required placeholder="Rule name.">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="periodCountPath">Count url:</label>
      <div class="controls">
        <input type="text" id="periodCountPath" ng-model="addperiod.cp" placeholder="count path here.">
        <span>
          <a class="icon-plus" ng-click="addPeriodCountPath(addperiod.cp)"></a>
        </span>
        <ul class="unstyled">
          <li ng-repeat="x in addperiod.countpath" class="text-error">
            <a class="icon-minus" ng-click="removePeriodCart(x)"></a>{{x}}</li>
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="periodCountPeriod">Count by period:</label>
      <div class="controls">
        <input type="text" id="periodCountPeriod" ng-model="addperiod.countperiod" required
        placeholder="count period here.">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="periodPeriod">Period:</label>
      <div class="controls">
        <input type="text" id="periodPeriod" ng-model="addperiod.period" required placeholder="period here.">
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-primary" ng-click="addPeriodRule(addperiod)">Add</button>
    </div>
  </form>
</div>
