<div>
  <h4>Process list</h4>
  <ul>
    <li ng-repeat="x in process">{{x.name}}</li>
  </ul>
  <hr>
  <form class="form-inline">
    <label>
      <h4>Press for clear local ban base !!!  </h4>
    </label>
    <button class="btn btn-primary" ng-click="clearBase()">Clear</button>
  </form>
  <hr>
  <div id="mem">
    <h4>Add hostname and port for memcached.</h4>
    <h5>Current connection</h5>{{membase}}
    <form name="memb" class="form-inline">
      <input type="text" id="sub" ng-model="memb.hostname" required placeholder="Hostname here...">
      <input type="number" id="p" ng-model="memb.port" required placeholder="Port here...">
      <button class="btn btn-primary" ng-click="addMembase(memb)">Add</button>
    </form>
  </div>
  <hr>
  <div id="mom">
    <h4>Add hostname and port for mongo.</h4>
    <h5>Current connection</h5>{{mongo}}
    <form name="mong" class="form-inline">
      <input type="text" id="sub" ng-model="mong.hostname" required placeholder="Hostname here...">
      <input type="number" id="p" ng-model="mong.port" required placeholder="Port here...">
      <button class="btn btn-primary" ng-click="addMongo(mong)">Add</button>
    </form>
  </div>
</div>
