<div>
  <h4>White list</h4>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>network</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="subnet in white">
        <td>
          <a class="icon icon-colour icon-remove" ng-click="removeSubnet(subnet)"></a>
        </td>
        <td>{{subnet.subnet}}</td>
      </tr>
    </tbody>
  </table>
  <div id="whiteForm">
    <legend>Add white network or ip.</legend>
    <form name="addwhite" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="sub">Subnet:</label>
        <div class="controls">
          <input type="text" id="sub" ng-model="addwhite.subnet" required placeholder="Subnet or ip here...">
        </div>
      </div>
      <div class="controls">
        <button class="btn btn-primary" ng-click="addSubnet(addwhite)">Add</button>
      </div>
    </form>
  </div>
</div>
